version: '3.8'

services:
  app:
    build: .
    container_name: mini_bitly_app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@postgres:5432/mini_bitly
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./src:/app/src
    command: uvicorn src.app.main:app --host 0.0.0.0 --port 8000 --reload

  postgres:
    image: postgres:17-alpine
    container_name: mini_bitly_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mini_bitly
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5


volumes:
  postgres_data: